body {background-color: "#808080ff"}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.header {
    background-color: darkgrey;
    border-radius: 16px;
    box-shadow: 10px 10px 5px black;
    padding: 10px;
    grid-row: 1;
    grid-column: 1 / span 3;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.headpic {
    grid-row: 1 / span 2;
    grid-column: 1;
}
.loupe {
    grid-row: 1 / span 2;
    grid-column: 2;
}
.reload {
    grid-row: 1;
    grid-column: 3;
}
.exit {
    grid-row: 2;
    grid-column: 3;
}
.leftcol {
    background-color: darkgrey;
    border-radius: 16px;
    box-shadow: 10px 10px 5px black;
    padding: 10px;
    display: grid;
    grid-template-columns: auto;
    grid-row: 2;
    grid-column: 2;
}
.lefticon {
    grid-column: 1;
}
#l1 {
    grid-row: 1;
}