<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Computor v1</title>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
        <h1>Computor v1: a simple polynomial equation solver</h1>
        <h3>Currently restricted to quadratic and lower</h3>
        <p></p>
        <div class="input_pad">
            <input type="text" class="input_text left_rounded" placeholder="Enter your polynomial equation here.">
            <input type="button" class="input_text btn right_rounded" value=" << Solve >> ">
            <p></p>
            <div class="output hidden"></div>
        </div>
</form>
    </div>
</body>
</html>